.contact-modal {
  &__container {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 19px;
    border-radius: 50%;
    line-height: 22px;
    height: 30px;
    width: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 6px;
  }
  &__header {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__form {
    input {
      width: 100%;
      padding: 12px 12px 12px 42px;
      border-radius: 4px;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: 12px;
      margin-bottom: 10px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
    .contact-modal__label-name {
      color: rgba(117, 117, 117, 1);
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.01em;
      text-align: left;
      margin-bottom: 4px;
    }

    .contact-modal__textarea {
      width: 100%;
      padding: 12px;
      resize: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }

    .contact-modal__checkbox-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;

      margin-bottom: 30px;
      margin-top: 20px;

      #checkbox-input {
        height: 15px;
        width: 15px;
        padding: unset;
        border-radius: 1px;
        margin-bottom: 0;
        margin-right: 7px;
        border: 1px solid black;

        &:checked {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' %3e%3cpath fill='%232196f3' style='fill: var(--color2, %232196f3)' d='M4 1h24c2.209 0 4 1.791 4 4v22c0 2.209-1.791 4-4 4h-24c-2.209 0-4-1.791-4-4v-22c0-2.209 1.791-4 4-4z'%3e%3c/path%3e%3cpath fill='%23fff' style='fill: var(--color1, %23fff); stroke: var(--color1, %23fff)' stroke='%23fff' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' stroke-width='0.4' d='M7.914 16.503l-0.138-0.131-2.067 1.958 7.282 6.947 15.298-14.594-2.053-1.959-13.245 12.623-5.077-4.844z'%3e%3c/path%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          appearance: none;
          border: 0;
          border-radius: 1px;
        }
      }
      span a {
        color: var(--blue);
        text-decoration: underline;
        cursor: pointer;
      }
    }
    #name-input {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' %3e%3cpath d='M16 16c2.947 0 5.333-2.387 5.333-5.333s-2.387-5.333-5.333-5.333c-2.947 0-5.333 2.387-5.333 5.333s2.387 5.333 5.333 5.333zM16 18.667c-3.56 0-10.667 1.787-10.667 5.333v1.333c0 0.733 0.6 1.333 1.333 1.333h18.667c0.733 0 1.333-0.6 1.333-1.333v-1.333c0-3.547-7.107-5.333-10.667-5.333z'%3e%3c/path%3e%3c/svg%3e");
      &:focus {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' %3e%3cpath fill='%232196f3' d='M16 16c2.947 0 5.333-2.387 5.333-5.333s-2.387-5.333-5.333-5.333c-2.947 0-5.333 2.387-5.333 5.333s2.387 5.333 5.333 5.333zM16 18.667c-3.56 0-10.667 1.787-10.667 5.333v1.333c0 0.733 0.6 1.333 1.333 1.333h18.667c0.733 0 1.333-0.6 1.333-1.333v-1.333c0-3.547-7.107-5.333-10.667-5.333z'%3e%3c/path%3e%3c/svg%3e");
      }
    }

    #phone-input {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' %3e%3cpath d='M24.882 19.773l-3.268-0.373c-0.785-0.090-1.557 0.18-2.11 0.733l-2.367 2.367c-3.641-1.853-6.626-4.825-8.478-8.478l2.38-2.38c0.553-0.553 0.823-1.325 0.733-2.11l-0.373-3.242c-0.154-1.299-1.248-2.277-2.56-2.277h-2.226c-1.454 0-2.663 1.209-2.573 2.663 0.682 10.987 9.469 19.761 20.443 20.443 1.454 0.090 2.663-1.119 2.663-2.573v-2.226c0.013-1.3-0.965-2.393-2.264-2.547z'%3e%3c/path%3e%3c/svg%3e");
      &:focus {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' %3e%3cpath fill='%232196f3' d='M24.882 19.773l-3.268-0.373c-0.785-0.090-1.557 0.18-2.11 0.733l-2.367 2.367c-3.641-1.853-6.626-4.825-8.478-8.478l2.38-2.38c0.553-0.553 0.823-1.325 0.733-2.11l-0.373-3.242c-0.154-1.299-1.248-2.277-2.56-2.277h-2.226c-1.454 0-2.663 1.209-2.573 2.663 0.682 10.987 9.469 19.761 20.443 20.443 1.454 0.090 2.663-1.119 2.663-2.573v-2.226c0.013-1.3-0.965-2.393-2.264-2.547z'%3e%3c/path%3e%3c/svg%3e");
      }
    }

    #email-input {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' %3e%3cpath d='M26.667 5.333h-21.333c-1.467 0-2.653 1.2-2.653 2.667l-0.013 16c0 1.467 1.2 2.667 2.667 2.667h21.333c1.467 0 2.667-1.2 2.667-2.667v-16c0-1.467-1.2-2.667-2.667-2.667zM26.133 11l-9.427 5.893c-0.427 0.267-0.987 0.267-1.413 0l-9.427-5.893c-0.333-0.213-0.533-0.573-0.533-0.96 0-0.893 0.973-1.427 1.733-0.96l8.933 5.587 8.933-5.587c0.76-0.467 1.733 0.067 1.733 0.96 0 0.387-0.2 0.747-0.533 0.96z'%3e%3c/path%3e%3c/svg%3e");
      &:focus {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' %3e%3cpath fill='%232196f3' d='M26.667 5.333h-21.333c-1.467 0-2.653 1.2-2.653 2.667l-0.013 16c0 1.467 1.2 2.667 2.667 2.667h21.333c1.467 0 2.667-1.2 2.667-2.667v-16c0-1.467-1.2-2.667-2.667-2.667zM26.133 11l-9.427 5.893c-0.427 0.267-0.987 0.267-1.413 0l-9.427-5.893c-0.333-0.213-0.533-0.573-0.533-0.96 0-0.893 0.973-1.427 1.733-0.96l8.933 5.587 8.933-5.587c0.76-0.467 1.733 0.067 1.733 0.96 0 0.387-0.2 0.747-0.533 0.96z'%3e%3c/path%3e%3c/svg%3e");
      }
    }

    .contact-modal_submit-container {
      display: flex;
      justify-content: center;
      .contact-modal_submit-button {
        background-color: #2196f3;
        height: 50px;
        width: 200px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 12px;
      }
    }
  }
}
