

   
    
    

.lorem__icon{
    padding: 20px 100px;
  background-color: var(--grey-light);
  display: flex;
  justify-content: center;
}


.lorem__title{
    color:#212121;
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    font-family: roboto;
}
.lorem__text{
    color:#757575; 
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    ;
}

