.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 24px 15px 25px 15px;
  justify-content: space-between;

  @media (max-width: 1200px) {
    padding: 24px 15px 25px 15px;
  }

  &__left {
    display: flex;
    align-items: center;
    &__pages {
      display: flex;
      list-style: none;
      padding: 0;
      gap: 46px;
      margin-left: 93px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      gap: 10px;
      width: 140px;
      .navbar__button__link {
        font-size: 12px;
        
      }
    }

    @media screen and (min-width: 1201px) {
      gap: 30px;
      
    }

    @media screen and (max-width: 768px) {
      display:none
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    &:hover,
    &:focus {
      color: var(--blue);
      cursor: pointer;

      svg {
        --color1: var(--blue);
        --color2: var(--blue);
        cursor: pointer;
      }
    }
    &__link {
      color: var(--grey-heading);

      font-weight: 500;
      font-size: 14px;
      line-height: 16.41px;
      letter-spacing: 0.02em;
      text-decoration: none;
      cursor: pointer;

      &.black {
        color: #212121;
      }

      &:hover,
      &:focus {
        color: var(--blue);
        cursor: pointer;
      }

      &.active {
        color: var(--blue);
        text-decoration: none;
        font-weight: bold;

        &::after {
          content: '';
          height: 4px;
          display: block;
          width: 100%;
          background-color: var(--blue);
          border-radius: 2px;
          position: relative;
          top: 31px;
        }
      }
    }
  }
}
